<template>
    <section>
        <v-app id="application" v-show="$store.state.isAuthenticated">
            <app-menu />
            <app-navbar />
            <app-content />
        </v-app>
        <v-app v-if="!$store.state.isAuthenticated">
            <router-view />
            <div id="recaptcha"></div>
        </v-app>
    </section>

</template>
<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import appMenu from './menu.vue';
    import appNavbar from './navbar.vue';
    import appContent from './content.vue';

    @Component({
        components:{
            appMenu,
            appNavbar,
            appContent
        }
    })
    export default class AppLayout extends Vue {

    }
</script>