<template>
    <v-content>
        <v-container class="ma-0">
            <v-layout justify-start>
                <router-view></router-view>
            </v-layout>
        </v-container>
    </v-content>
</template>