<template>
    <v-navigation-drawer fixed clipped v-model="$store.state.drawer" app >
        <v-list dense>
            <v-subheader class="mt-3 grey--text text--darken-1">SUBSCRIPTIONS</v-subheader>
            <v-list>
                <v-list-tile v-for="item in [1,2,3,4]" avatar @click="">
                    <v-list-tile-avatar>
                        <img :src="`https://randomuser.me/api/portraits/men/${item}.jpg`" alt="">
                    </v-list-tile-avatar>
                    <v-list-tile-title >{{item}}</v-list-tile-title>
                </v-list-tile>
            </v-list>
            <v-list-tile class="mt-3" @click="">
                <v-list-tile-action>
                    <v-icon color="grey darken-1">add_circle_outline</v-icon>
                </v-list-tile-action>
                <v-list-tile-title class="grey--text text--darken-1">Browse Channels</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="">
                <v-list-tile-action>
                    <v-icon color="grey darken-1">settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-title class="grey--text text--darken-1">Manage Subscriptions</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="$router.push('/logout')">
                <v-list-tile-action>
                    <v-icon color="grey darken-1">logout</v-icon>
                </v-list-tile-action>
                <v-list-tile-title class="grey--text text--darken-1">Logout</v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    @Component({})
    export default class MenuDrawer extends Vue {
    }
</script>