<template>
    <v-toolbar
            color="red"
            dense
            fixed
            clipped-left
            app
    >
        <v-toolbar-side-icon @click.stop="$store.commit('toggleDrawer')"></v-toolbar-side-icon>
        <v-toolbar-title class="mr-5 align-center">
            <span class="title">ButtWinner Affairs :)</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-layout row align-center style="max-width: 650px">
        </v-layout>
    </v-toolbar>
</template>