<template>
    <v-layout align-center justify-center row fill-height>

            <v-form ref="form" v-model="valid" lazy-validation>

                <v-text-field
                        v-model="email"
                        :error-messages="state['email:error'] && [ state['email:error'] ]"
                        label="E-mail"
                        required
                        solo
                ></v-text-field>

                <v-text-field
                        v-model="password"
                        :error-messages="state['password:error'] && [ state['password:error'] ]"
                        label="Password"
                        type="password"
                        required
                        solo
                ></v-text-field>

                <v-btn :disabled="!valid" @click="submit" block>
                    Login
                </v-btn>

            </v-form>

    </v-layout>
</template>

<script lang="ts">

    import { Component, Vue } from 'vue-property-decorator';
    import {Send} from 'src/mixins/form';
    import Api from 'src/services';

    @Component
    export default class Login extends Vue {

        state: object = {};
        valid: boolean = true;
        email: string = '';
        password: string = '';

        activated(){

        }

        created(){

            if (window.recaptcha_loaded)
                recaptcha_loaded();

            this.$on('error:5',
                (error)=>{
                    alert(error);
                });

            this.$on('recaptcha_response:error',
                (error)=>{
                    Api.recaptcha = null;
                    recaptcha_loaded();
                    //alert(error);
                })
        }

        @Send()
        submit(){
            return Api.login({
                email: this.email,
                password: this.password
            }).then((data)=>{
            });
        }
    }

</script>