<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>slim</title>
    <script>
      window.loader = {

          show: function(){
              var loader = document.getElementById('loader');
              loader.style.display = 'flex';
              loader.style.visibility = 'visible';
              loader.style.transition = 'visibility 0s 0.3s,opacity 0.3s ease-out';
              loader.style.opacity = 1;
          },

          hide(){
              var loader = document.getElementById('loader');
              loader.style.transition = 'visibility 0s 1s,opacity 1s ease-out';
              loader.style.opacity = 0.01;
              loader.style.visibility = 'hidden';
              setTimeout(function(){
                  loader.display = 'none';
              },1100)
          }

      };
    </script>
      <script src="https://www.google.com/recaptcha/api.js?onload=captchaLoaded&render=explicit" async defer>
      </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but slim doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <div id="loader" style="position: fixed; z-index: 1000000; top: 0; left:0; width: 100%; height: 100vh; background: #333; display: none; justify-content: center; align-items: center;">
    <svg width="100" height="100" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" stroke="#fff" style={{width: 100}}>
      <g fill="none" fillRule="evenodd" transform="translate(1 1)" strokeWidth="2">
        <circle cx="22" cy="22" r="6" strokeOpacity="0">
          <animate attributeName="r"
                   begin="1.5s" dur="3s"
                   values="6;22"
                   calcMode="linear"
                   repeatCount="indefinite" />
          <animate attributeName="stroke-opacity"
                   begin="1.5s" dur="3s"
                   values="1;0" calcMode="linear"
                   repeatCount="indefinite" />
          <animate attributeName="stroke-width"
                   begin="1.5s" dur="3s"
                   values="2;0" calcMode="linear"
                   repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="6" strokeOpacity="0">
          <animate attributeName="r"
                   begin="3s" dur="3s"
                   values="6;22"
                   calcMode="linear"
                   repeatCount="indefinite" />
          <animate attributeName="stroke-opacity"
                   begin="3s" dur="3s"
                   values="1;0" calcMode="linear"
                   repeatCount="indefinite" />
          <animate attributeName="stroke-width"
                   begin="3s" dur="3s"
                   values="2;0" calcMode="linear"
                   repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="8">
          <animate attributeName="r"
                   begin="0s" dur="1.5s"
                   values="6;1;2;3;4;5;6"
                   calcMode="linear"
                   repeatCount="indefinite" />
        </circle>
      </g>
    </svg>

    </div>
    <script>
      loader.show();
      function captchaLoaded() {
          if (!window.recaptcha_loaded)
              return setTimeout(captchaLoaded, 100);
          recaptcha_loaded();
      }
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
