<template>
    <v-flex xs12 sm6 class="form-50">
        <v-card >

            <v-card-title class="justify-space-between pa-1 pl-3">
                <div>
                    <h3 class="mb-0">
                        General Info
                    </h3>
                </div>
                <v-btn v-show="!state.loading && !edit" @click="edit = true;" color="blue" small>Edit</v-btn>
                <v-btn v-show="state.loading || edit" @click="edit = false;" color="blue" small>Cancel</v-btn>
            </v-card-title>
            <hr>
            <v-layout row wrap class="ma-3">
                <v-flex class="ma-1">
                    <v-text-field
                            label="FIRST NAME"
                            placeholder="Placeholder"
                            :disabled="!edit"
                            v-model="form.first_name"
                            :error-messages="getError('first_name')"
                    ></v-text-field>
                </v-flex>
                <v-flex class="ma-1">
                    <v-text-field
                            label="LAST NAME"
                            placeholder="Placeholder"
                            :disabled="!edit"
                            v-model="form.last_name"
                            :error-messages="getError('last_name')"
                    ></v-text-field>
                </v-flex>
                <v-flex class="ma-1">
                    <v-menu
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                    >
                        <v-text-field
                                readonly
                                slot="activator"
                                label="BIRTH DATE"
                                placeholder="Placeholder"
                                :disabled="!edit"
                                v-model="form.date_of_birth"
                                :error-messages="getError('date_of_birth')"

                        ></v-text-field>
                        <v-date-picker v-model="form.date_of_birth"></v-date-picker>
                    </v-menu>
                </v-flex>
                <v-flex class="ma-1">
                    <v-text-field
                            label="CONTACT NUMBER"
                            placeholder="Placeholder"
                            :disabled="!edit"
                            v-model="form.phone_number"
                            :error-messages="getError('phone_number')"
                    ></v-text-field>
                </v-flex>
                <v-flex class="ma-1">
                    <v-text-field
                            label="MESSENGER"
                            placeholder="Placeholder"
                            :disabled="!edit"
                            v-model="form.messenger"
                            :error-messages="getError('messenger')"
                    ></v-text-field>
                </v-flex>
                <v-flex class="ma-1">
                    <v-text-field
                            label="MESSENGER ID"
                            placeholder="Placeholder"
                            :disabled="!edit"
                            v-model="form.messenger_id"
                            :error-messages="getError('messenger_id')"
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row wrap class="ma-3">
                <v-flex class="ma-1">
                    <v-combobox
                            item-text="name"
                            item-value="code"
                            :return-object="false"
                            v-model="form.country_code"
                            placeholder="Placeholder"
                            :items="countries"
                            label="COUNTRY"
                            :disabled="!edit"
                            :error-messages="getError('country_code')"
                    ></v-combobox>
                </v-flex>
                <v-flex class="ma-1">
                    <v-text-field
                            label="CITY"
                            placeholder="Placeholder"
                            :disabled="!edit"
                            v-model="form.city"
                            :error-messages="getError('city')"
                    ></v-text-field>
                </v-flex>
                <v-flex class="ma-1 tz">
                    <v-combobox
                            item-text="name"
                            item-value="zone"
                            :return-object="false"
                            v-model="form.timezone"
                            placeholder="Placeholder"
                            :items="timezones"
                            label="TIMEZONE"
                            :disabled="!edit"
                            :error-messages="getError('timezone')"
                    ></v-combobox>

                </v-flex>
            </v-layout>
            <hr>
            <v-card-actions v-show="edit || state.loading || state.error" class="justify-end ma-3 pb-4">
                <v-btn flat @click="edit = false;" color="orange">Cancel</v-btn>
                <v-btn :color="state.error ? 'red' : saved && 'green' || 'blue'" @click="submit" :loading="state.loading">Save</v-btn>
            </v-card-actions>
            <v-snackbar v-model="state.error" color="red" :timeout="1000" absolute>
                Couldn't save!
            </v-snackbar>
            <v-snackbar v-model="saved" color="green" :timeout="1000" absolute>
                Saved
            </v-snackbar>
        </v-card>
    </v-flex>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Form, { Send } from 'src/mixins/form';
import Api from 'src/services';
import _ from 'lodash';

@Component
export default class EditForm extends Form {
  edit: boolean = false;
  saved: boolean = false;
  api: object = Api;

  form: object = {
    first_name: '',
    last_name: '',
    date_of_birth: '',
    phone_number: '',
    messenger: '',
    messenger_id: '',
    country_code: '',
    city: '',
    timezone: ''
  };

  state: object = {};

  get countries() {
    return Api.state.countries;
  }

  get timezones() {
    return Api.state.timezones;
  }

  created() {
    if (Api.state.user) {
      let form = _.pick(Api.state.user, Object.keys(this.form));
      this.form = form;
    } else {
      Api.getUserProfile().then(() => {
        let form = _.pick(Api.state.user, Object.keys(this.form));
        this.form = form;
        console.log(form);
      });
    }
  }

  @Send()
  submit() {
    return Api.putProfile({ ...Api.state.user, ...this.form })
      .then(e => {
        this.saved = true;
      })
      .finally(() => {
        this.edit = false;
      });
  }
}
</script>

<style lang="scss">
.form-50 {
  .flex {
    max-width: 500px;
  }
  .flex.tz {
    max-width: 100%;
  }
  .v-input__append-inner {
    margin: 0;
    margin-left: -22px !important;
    padding: 0;
  }
  .v-label {
    font-weight: bold;
    color: #000 !important;
  }
  .v-input--is-disabled input {
    color: #111 !important;
  }
  .v-label--is-disabled {
    font-weight: bold;
    color: #000 !important;
  }
  .v-input--is-disabled {
    .v-input__append-inner {
      margin: 0;
      margin-left: 6px !important;
      padding: 0;
    }
    .v-input__icon.v-input__icon--append {
      display: none;
    }
    .v-input__slot:before {
      border-image: none !important;
      border-style: none !important;
    }

    .v-input__slot:after {
      border-image: none !important;
    }
  }
}
@media (max-width: 600px) {
  .form-50 {
    .flex {
      max-width: 100%;
    }
  }
}
</style>
