<template>
    <v-layout justify-start>
        <edit-profile></edit-profile>
    </v-layout>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import EditProfile from './edit.vue'

    @Component({
        components:{
            EditProfile
        }
    })
    export default class Profile extends Vue {

    }
</script>
