<template>
  <div id="app">
    <layout />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import layout from './views/layout';
import api from './services';
@Component({
  components: {
    layout
  }
})
export default class App extends Vue {
  private mounted() {
    api.$emit('render:start');
  }
}
</script>
